body {
    background: black;
    font-family: "Open Sans", "Open Sans Light", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}
/* Header */

.header {
    width: 100%;
    padding-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: black;
}

/*Header up*/
.header__upline {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header__section {
    display: flex;
    justify-content: space-between;
}

.section1 {
    display: flex;
    justify-content: flex-start;
}

.section2 {
    display: flex;
    justify-content: flex-end;
}

.header__place {
    justify-content: flex-start;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin-left: 10px;
}

.header__phone {
    font-size: 24px;
    font-weight: lighter;
    color: white;
    margin-left: 10px;
}

.icon {
    margin-top: 6px;
}

/* Logo*/
.header__logo {
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    color: #3697EC;
    vertical-align: center;
}

.logo__icon {
    position: relative;
    padding: 0;
    margin-bottom: -10px;
}

.logo_col {
    color: #00DC3E;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

/* Navigation */
.nav {
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
}

.nav__link {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 10px -20px;
    position: relative;

    color: white;
    text-decoration: none;

}

.nav__link:after {
    content:"";
    display: block;
    width: 100%;
    height: 1px;

    background-color: white;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: white;
}
.nav__link:hover:after, .nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: white;
}

/* Time */
.time {
    vertical-align: 100px;
    font-weight: lighter;
    font-size: 18px;
    color: #9B9A9A;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: unset;
}

.intro:after {
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: url("/assets/images/intro.jpg") no-repeat;
    position: absolute;

    background-size: cover;
    filter: contrast(0.8) brightness(0.45);
    z-index: -2;
}

input {
    width: 360px;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

.intro__title {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.intro__subtitle {
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

.button {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    margin-top: 10px;
    background-color: #cc0000;

    border: none;
    border-radius: 21px;

    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear,
    color .1s linear;
}

.button:hover {
    background-color: #cc0000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Button block */
.button__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 180px;

    text-align: center;
}

.but {
    display: inline-block;
    vertical-align: top;
    border: none;
    color: white;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}

.but1 {
    padding: 10px 80px;
    background-color: #3697EC;
}
.but2 {
    display: inline-block;
    vertical-align: top;
    padding: 10px 70px;
    background-color: white;
    color: black;
}

.but3 {
    display: inline-block;
    vertical-align: top;
    padding: 10px 50px;
    background-color: #00DC3E;
}

/* Block 3 */
.trainers {
    width: 100%;
    height: 900px;
    background-color: #E2E2E2;
    padding-top: 60px;
}

.trainers__title {
    text-transform: uppercase;
    font-size: 72px;
    font-weight: bold;
    color: black;
    text-align:center;
}

.trainer__table {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.trainer__item p {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.trainer__item h3 {
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
}

.trainer__phone {
    display: flex;
    padding-left: 15px;
    text-align: left;
    position: relative;
    height: 24px;

}

.trainer__icon {
    top: 1px;
    left: 0;
    z-index: 1;
}

.trainer__phone p {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 25px;
}

.trainer__item {
    width: 360px;
}

.trainer__description {
    text-align: left;
    color: black;
    font-size: 18px;
}

/* Block 4 */
.block4 {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;

    text-align: center;

    color: white;
    font-size: 36px;
    font-weight: bold;
}

/* Block 5*/
.block5 {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
    height: 580px;
    position: relative;
    z-index: unset;
}

.block5:after {
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: url("/assets/images/train.jpg") no-repeat;
    position:absolute;

    background-size: cover;
    filter: contrast(0.8) brightness(0.45);
    z-index: -2;
}

.block5__table {
    display: flex;
    justify-content: space-between;
}

.table__item {
    padding: 30px 10px 0;
    width: 300px;
    height: auto;
    background-color: #E2E2E2;
}

.block__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

.block__text {
    font-size: 15px;
    text-align: left;
}

.block__suptitle {
    display: flex;
    justify-content: center;
    position: relative;

    text-transform: uppercase;
    font-size: 24px;
}

.table__center {
    width: 526px;
}

.text__center {
    font-size: 18px;
}

/* Footer */
.footer {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 320px;
    background-color: #000000;
    position: absolute;
}

.footer__logos {
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: row;
    padding: 15px 0 0;
}

.images {
    margin-right: 15px;
}


.footer__items {
    display: flex;
    justify-content: space-between;
}

.footer__title_text {
    font-size: 24px;
    font-weight: normal;
    color: white;
}

.footer__text {
    color: #9B9A9A;
    font-size: 18px;
    font-weight: lighter;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 24px;
}

/* Page Абонементи */
.block_gym {
    width: 100%;
    height: 1085px;
    padding-top: 60px;
    background-color: #000;


    display: flex;
    text-align: center;
}

.gym__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

/* Block Gym Abonements */
.main__block {
    height: 300px;
    width: 100%;
    background-image: url("/assets/images/abonements/neutral.png");
    background-position: bottom;
    background-size: cover;
    box-shadow: inset 0 5px 4px rgba(0, 0, 0, .25);
    text-align: left;
    padding-left: 50px;
}

.block_gym__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

.tile__item {
    height: 360px;
    width: 360px;
    margin-bottom: 60px;
    background-color: #E2E2E2;
}

.tile__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0067C0;
    margin: 11px 8px;
}

.main__text {
    color: black;
    font-size: 20px;
    padding-top: 10px;
}

.main__time {
    color: black;
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

.total {
    padding-top: 20px;
    font-size: 16px;
    color: #333333;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.main__button {
    display: block;
    padding: 5px 1px;
    margin-left: -10px;
    margin-right: 30px;
}

.more__button {
    display: block;
    text-decoration: none;
    text-align: left;
    position: absolute;

    color: #333333;
    font-size: 15px;
    font-weight: normal;

    transition: background .1s linear,
    color .1s linear;
}

.more__button:hover {
    text-shadow: #333333 3px 4px 5px;
}

.more__button img {
    position: relative;
    top: 3px;
    left: -2px;
}

.other_tile {
    background: url("/assets/images/abonements/neutral.png");
    background-size: cover;
}

.other__title {
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.71);
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
}

.other__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
}

.questions__form input {
    width: 300px;
}

.questions__button {
    padding: 10px 60px;
}

/* Abonement intro */
.intro__abonement{
    display: flex;
    position: relative;
    top: 0;
    padding-bottom: 10px;

}

.intro__abonement:after {
    background: url("/assets/images/abonements/introa.jpg") no-repeat;
    background-size: cover;
    background-position-y: 120px;
}

/* About */
.block__about {
    width: 100%;
    height: 600px;
    font-size: 20px;
}

.block__about:after {
    background: url("/assets/images/abonements/about.jpg") center no-repeat;
    background-size: cover;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    color: white;
}

.about__titles {
    font-size: 36px;
    font-weight: bold;
}

/* Questions */
.questions {
    height: 600px;
    width: 100%;
    background: url("/assets/images/abonements/background.jpg");
    background-size: cover;
    color: #252222;
    font-weight: bold;
    font-size: 36px;
}

.questions__items {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.que__item p {
    font-size: 18px;
    font-weight: lighter;
}

.que__item a {
    padding: 8px 85px;
}

.que__item img {
    height: 500px;
    width: 480px;
    object-fit: cover;
    object-position: -200px;
    filter: contrast(115%) saturate(105%) drop-shadow(5px 10px 7px);
}

/* About Us */

/* About us intro */
.aboutus__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/about/intro.jpg");
    background-size: cover;
    background-position: center;
}

.aboutus__title {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.aboutus__subtitble {
    font-size: 20px;
    color: white;
}

/* Trainers block */
.trainers__block {
    display: flex;
    justify-content: space-between;
    height: 240px;
    width: 100%;

    background-color: #E2E2E2;

    padding: 97px;
}

.tblock__inner {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 32px;
    color: black;
}

.blue__button {
    display: inline-block;
    vertical-align: top;
    border: none;
    color: white;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    padding: 15px 50px;
    background-color: #3697EC;
    border-radius: 20px;

    margin-top: -10px;

    transition: background .1s linear,
    color .1s linear;
}

.blue__button:hover {
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Advantages */
.advantages {
    height: 960px;
    width: 100%;
    padding: 120px;

    background-color: black;

    color: white;
}

.advantages__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tiles__title {
    padding-top: 120px;
}

.advantages__tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.advantages__item {
    width: 30%;
    position: relative;
    margin-top: 70px;
}

.item__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.item__text {
    font-size: 20px;
}

/* Contacts */
.intro__contacts {
    width: 100%;
    height: 100vh;
}

.intro__contacts:after {
    background: url("/assets/images/contacts/intro.jpg");
    background-size: cover;
}
.call__button {
    padding: 8px 50px;
}

/* Contacts tiles */
.contacts__block {
    height: 540px;
    width: 100%;

    color: black;
    background-color: black;
}

.contacts__tiles {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.contacts__item {
    width: 360px;
    height: 300px;
    background-image: url("/assets/images/abonements/background.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 60px;

    font-size: 24px;
    font-weight: lighter;
}

.citem__title {
    font-size: 32px;
    font-weight: normal;
}

/* Social */
.social {
    height: 240px;
    width: 100%;
    background-color: black;

    padding-top: 45px;
    text-align: center;

    color: white;
    font-weight: bold;
    font-size: 24px;
}

.social__icons {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
    width: 40%;

    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}

/* Trainers */
.intro__trainers:after {
    background-image: url("/assets/images/trainers/intro.png");
}

.professionals {
    width: 100%;
    height: 2208px;
    left: 0;
    text-align: center;
    background: #D9D9D9;
}

.professionals__tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

.professionals__item {
    width: 360px;
    height: 418px;
    margin-bottom: 60px;
    position: relative;
    background-color: #000000;


    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.names {
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
}

.set {
    padding-top: 10px;
}